.card {
    display: flex;
    flex-direction: column;
    margin-right: 27px;
    width: 260px;
}

.card:hover {
    transform: scale(1.05);
}

.card:active {
    transform: scale(1.0);
}

.card__cover {
    width: 260px;
    height: 260px;
    margin-bottom: 8px;
}

.card__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
}

.card__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #CCC3C3;
}