div .inter {
  font-family: 'Inter', sans-serif !important;
}

div .montserrat {
  font-family: 'Montserrat', sans-serif !important;
}

div .nunito {
  font-family: 'Nunito', sans-serif !important;
}

div .fw400 {
  font-weight: 400 !important;
}

div .fw600 {
  font-weight: 600 !important;
}

div .fw700 {
  font-weight: 700 !important;
}

div .fs08 {
  font-size: 0.8rem !important;
}

div .fs14 {
  font-size: 1.4rem !important;
}

div .fs16 {
  font-size: 1.6rem !important;
}

div .fs18 {
  font-size: 1.8rem !important;
}

div .fs22 {
  font-size: 2.2rem !important;
}

div .fs24 {
  font-size: 2.4rem !important;
}

div .fs26 {
  font-size: 2.6rem !important;
}

div .fs28 {
  font-size: 2.8rem !important;
}

div .lh11 {
  line-height: 1.1rem !important;
}

div .lh130p {
  line-height: 130% !important;
}

div .lh19 {
  line-height: 1.9rem !important;
}

div .lh20 {
  line-height: 2.0rem !important;
}

div .lh22 {
  line-height: 2.2rem !important;
}

div .lh24 {
  line-height: 2.4rem !important;
}

div .lh25 {
  line-height: 2.5rem !important;
}

div .lh29 {
  line-height: 2.9rem !important;
}

div .lh30 {
  line-height: 3.0rem !important;
}

div .lh34 {
  line-height: 3.4rem !important;
}

div .lh40 {
  line-height: 4.0rem !important;
}

div .lh50 {
  line-height: 5.0rem !important;
}