.css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
    font-family: 'Nunito';
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 50px !important;
    color: #3F3F55 !important;
}